.container-content {
    padding-top: 80px;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control, .item {
    border-radius: 4px;
}

.thumbnail {
    text-align: center;
    padding: 10px !important;
}

.row {
    padding-top: 10px;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
    height: 350px;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 0px 0;
}

.list-group .selected {
    background-color: #f5f5f5;
}

.dropdown-menu .selected {
    background-color: #f5f5f5;
}

.popover {
    width: 250px;
}

/* Accessory Box */

.accessory-image {
    object-fit: contain;
}

.accessory-information-container {
    position: relative;
    width: 100%;
    align-self: flex-end;
}

.accessory-name {
    text-overflow: ellipsis;
    height: 70px;
    overflow: hidden !important;
}

.accessory-price {
    height: 14px;
}

.accessory-information {
    display: flex;
    flex-direction: row;
    height: 25px;
    justify-content: space-between;
    vertical-align: middle;
}

.accessory-manufacturer-container {
    position: relative;
    top: 20%
}

.accessory-manufacturer {
    float: left;
    margin-right: 10px;
}

.accessory-details-container {
    position: relative;
    top: 20%
}

.coming-soon-icon {
    float: right;
    margin-bottom: 0px;
    margin-left: 5px;
}

.bridge-icon {
    float: right;
    margin-bottom: 0px;
    margin-left: 5px;
}

.thumbnail.latest-list {
    padding: 0px 10px 0px 10px !important;
    height: 360px;
}

.navbar-nav {
    padding-top: 1px !important;
}

#accessory-page-information {
    margin-top: 50px;
    text-align: center;
}

@media screen and (max-width: 990px) {
    #accessory-page-information {
        margin-top: 0px;
    }
}

#accessory-page-information-container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

#accessory-title {
    margin-bottom: -10px !important;
}

#accessory-page-image-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

#accessory-page-image {
    width: 256px;
    height: 256px;
    display: block; 
    margin: 0 auto;
    border-radius: 25%;
}

#accessory-page-buttons {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    padding: 20px !important;
    width: 100%;
}

#accessory-page-buttons button {
    margin: 15px;
}

#accessory-page-features {
    margin-left: 50px;
}

#accessory-page-feature {
    display: flex;
}

#accessory-page-feature img {
    width: 30px;
    height: 30px;
}

#accessory-page-feature p {
    margin-left: 10px !important; 
    margin-top: 7px !important;
}
